footer { background-color: lightblue;
         font-family: Arial, Helvetica, sans-serif;
         color: darkblue; 
         border: 1px dashed darkblue; 
         padding: 10px; }

#notice { width: 80%;
          margin: 0 auto;}

.underline { border-bottom: 2px dotted pink; 
             background-color: pink;
             padding-bottom: 4px }

h1 { font-family: sans-serif; 
     text-shadow: 1px 1px rgba(0, 0, 0, .5);
     font-size: 4em;
     background-color: rgba(0, 0, 0, .5); }

#section { font-size: .8em; 
           color: red;
           background-color: white;
           font-family: Arial, Helvetica, sans-serif; 
           width: 80%;
           box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
           padding: 10px }

#caption { font-family: Arial, Helvetica, sans-serif;
           padding: 5px;
           width: 640px; }