body, footer { background-color: black; 
        font-family: Arial, Helvetica, sans-serif;
        color: white }

h1 { color: #cccccc; 
        font-family: 'Times New Roman'; }

.news { color: red;
        font-style: italic; }

a { background-color: #cccccc; }

